a {
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  color: white;
}
a:hover {
  color: rgb(219, 219, 219);
  background-color: rgb(49, 102, 48);
}
.parentDiv {
  display: flex;
}
.div2 {
  margin-left: 20px;
}
.sidebar {
  background-color: rgb(69, 141, 66);
  display: flex;
  left: -150px;
  position: absolute;
  flex-direction: column;
  width: 150px;
  height: 100vh;
}
span {
  display: flex;
  justify-content: end;
}
button {
  background-color: rgb(69, 141, 66);
  border: none;
  color: white;
}
button:hover {
  background-color: rgb(49, 102, 48);
}
body {
  margin: 0;
  padding: 0;
}
